@model IEnumerable<ev_01.Models.Food>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-5 alert alert-primary mt-2 text-center">Food List</h1>

<p class="d-flex justify-content-end">
    <a asp-action="Create" class="btn btn-outline-primary mt-2 mb-2"><i class="fa fa-plus"></i> ADD Food</a>
</p>
<table class="table table-bordered table-striped table-responsive-sm">
    <thead class="table-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FoodId" class="btn btn-outline-success btn-sm"><i class="fa fa-edit"></i></a>&nbsp;
                    <a asp-action="Delete" asp-route-id="@item.FoodId" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
